<header>
  <h1>Tarhembe Daniel N01719446</h1>
  <nav>
     <li><a href="/">Home</a></li>
    <li><a href="/about">My Resume</a></li>
<li><a href="/viewData">All Data Listings</a></li>
<li><a href="/search/id">Search by ID</a></li>
<li><a href="/search/name">Search by Name</a></li>

  </nav>
 

</header>
<hr>