<nav>
<ul>
<li><a href="/">Home (Student Info)</a></li>
<li><a href="/about">My Resume</a></li>
<li><a href="/data">All Data Listings</a></li>
<li><a href="/search/id">Search by ID</a></li>
<li><a href="/search/name">Search by Name</a></li>
</ul>
</nav>